@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Roboto+Mono:wght@700&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


.container_time_count {
    color: #333;
    margin: 0 auto;
    text-align: center;
}

.container_time_count h2 {
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.countdown ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: center;
}

.container_time_count li {
    display: block;
    font-size: 1.0rem;
    padding: 0.3rem;
    list-style-type: none;
    text-transform: uppercase;
}

.container_time_count .clock_value {
    display: block;
    font-size: 3.0rem;
}

.container_time_count .clock_ms_value {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 5px;   
    border: 1px solid black;
}

.container_time_count .ms_bar {
    display: block;
    height: 10%;
    width: 100%;   
    background: black;
}

.container_time_count .clock_ms_value_row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 5px;   
    border: 1px solid black;
}

.container_time_count .ms_bar_row {
    display: block;
    height: 100%;
    width: 10%;   
    background: black;
}


@media only screen and (min-device-width: 720px) {
    .container_time_count h2 {
        font-size: 0.5rem;
    }

    .container_time_count li {
        font-size: 1.0rem;
        padding: 0.5rem;
    }

    .container_time_count .clock_value {
        font-size: 2.0rem;
    }
}