@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-color: white;
    background-image: url(./img/email-pattern.png);
    color: black;
}

.layout_container {
    display: flex;
    flex-direction: column;
    min-height: 100vm;
    margin: 10px auto;
    padding: 0;
    max-width: 720px;
    box-shadow: 1px 1px 15px 3px grey;
    background-color: white;
    background-image: url(./img/lightpaperfibers.png);
}

.header {
    display: flex;
    justify-content: flex-end;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

.header h1 {
    display: none;
    font-size: 0.8rem;
    color: grey;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
}

.header_btn_bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.header_btn_bar .more_info {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
}

.header_btn_bar .more_info:hover {
    cursor: pointer;
    border: none;
    outline: none;
}

.header_btn_bar .more_info:active {
    border: none;
    outline: none;
}

.header_btn_bar img {
    width: 30px;
}

.nav {
    display: none;
}

.main_section {

}

.about_me {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autor_img {
    margin: 0 auto;
    padding: 50px 0 20px 0;
    height: 200px;
    border-radius: 50%;
    
}

.autor_img > img {
    display: block;
    margin: 10px auto;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid grey;
}

.autor_name {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.autor_profession {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
}

.autor_info {
    max-width: 500px;
}

.footer {
    padding-top: 5px;
    border-top: 1px solid grey;
}

.share_btn_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    max-width: 80px;
}

.share_btn_bar a {
    text-decoration: none;
    display: inline-block;
}

.share_btn_bar img {
    height: 30px;
    width: 30px;
}

.hide {
    display: none;
}

/* Modal Login Form START*/
/* The modal (background) */
.modal_info {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
    align-items: flex-start;
}

/* Modal Content/Box */
.modal_content {
    background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 100%);
    color: white;
    margin: 50px auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    min-height: 200px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
}

/* The Close Button */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add zoom animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}